.sidebar-menu{
    position: fixed;
    margin-left: 15%;
}

.sidebar-menu__item{
    height: 50px;
    border-radius: 25px
   
}
.sidebar-menu__item:hover{
    background-color:rgb(205, 205, 205) ;
    cursor: pointer;
}
.sidebar-menu__item-icon{
    height: 26px;
    padding: 12px;
}